@font-face {
  font-family: 'HandelGo';
  src: url('./fonts/HandelGo.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#player {
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 0.5%;
  padding: 30px;
  border-radius: 17px;
  background-color: #f8f9fa;
  
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

#playerDark {
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 2%;
  padding: 30px;
  border-radius: 17px;
  background-color: #898989;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

#frame {
  border-radius: 17px;
}

#saved {
  color: #ff7b09;
}

.nav {
  height: 200px;
  width: 1500px;
  margin-bottom: 70%;
}

.hero {
  width: 100%;
  margin-top: 1%;
  padding: 0;
}

.info-section {
  position: absolute;
  margin-top: 3.5%;
  margin-left: 150px;
  width: 600px;
}

.movie-section {
  display: flex;
  margin-bottom: 3%;
  margin-top: 3%;
}

.button-section {
  display: flex;
}

.button {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  margin: 3px;
}

.more {
  background-color: rgba(255, 255, 255, 0.5);
}

.card {
  width: 230px;
  border-radius: 5px;
  margin: 2px;
  transition: transform 500ms;
  position: relative;
  display: block;
}

video {
  width: 100%;
  border-radius: 5px;
}

.hero-video {
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  margin-bottom: 30px;
}

video::-webkit-media-controls {
  display: none;
}

.movie-section:focus-within .card,
.movie-section:focus,
.card {
  transform: translate(-25%);
  z-index: 1;
}

.card:focus~.card,
.card:hover~.card {
  transform: translateX(25%)
}

.movie-section .card:focus,
.movie-section .card:hover {
  transform: scale(1.5);
  z-index: 1;
  background-color: #212121;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.more-button {
  height: 100%;
  display: flex;
  padding: 40px 10px;
  border-radius: 0 10px 10px 0;
}

.fas {
  margin: 0 5px;
}

.logo {
  width: 200px;
  height: 50px;
  background-image: url('https://i.imgur.com/Y9dwM3s.png');
  background-size: 200px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

.more-button:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.page-end {
  width: 100%;
  height: 300px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 15px;
}

li {
  margin: 0 10px;
}

.info-box {
  width: 100%;
  z-index: 5;
  padding: 10px;
}

/* Template */

#root {
  justify-content: center;
}

.MuiTablePagination-selectLabel {
  font-family: 'HandelGo';
  font-size: large;
}

#chart {
  font-family: 'HandelGo';
  padding: 1%;
  border-radius: 17px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#figure {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 40px;
  text-align: center;
  margin: 1%;
  border-radius: 7px;
  padding: 3px;
}

#dash {
  background-color: transparent;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin: 0.25%;
}

#bar {
  border-radius: 7px;
  background-color: #F8F9FA;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'HandelGo';
}

#barDark {
  border-radius: 7px;
  background-color: #888888;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'HandelGo';
}

#cell {
  text-align: center;
  font-family: 'HandelGo';
  color: #ff7b09;
  padding: 1%;
}

#cellDark {
  text-align: center;
  font-family: 'HandelGo';
  color: #F8F9FA;
  padding: 1%;
}

#company {
  text-align: center;
  color: white;
  background-color: #49089e;
  font-weight: bold;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  font-family: 'HandelGo';
}

#companyDark {
  text-align: center;
  color: white;
  background-color: #49089e;
  font-weight: bold;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  font-family: 'HandelGo';
}

#columns {
  text-align: center;
  background-color: #F8F9FA;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  font-family: 'HandelGo';
}

#columnsDark {
  background-color: #888888;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  font-family: 'HandelGo';
}

#table {
  width: 96%;
  margin: 2%;
  background-color: #F8F9FA;
  border: 3px #eeeeee;
  border-radius: 20px;
  cursor: pointer;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#tableDark {
  width: 96%;
  margin: 2%;
  background-color: #898989;
  border: 3px black;
  border-radius: 20px;
  cursor: pointer;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#adminButton {
  height: 50px;
  width: 50px;
  border-radius: 9px;
  size: 50px;
}

#adminButton:hover {
  color: #ff7b09;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#profile {
  margin-left: 25%;
  border-radius: 50%;
}

#profile:hover {
  border: thick;
  color: #ff7b09;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#nav {
  background-color: #F8F9FA;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'HandelGo';
}

#navDark {
  background-color: #888888;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'HandelGo';
}

@media only screen and (max-width: 490px) {
  #tool {
    display: flex;
    justify-content: center;
  }

  #logo {
    display: none;
  }

  #navButton {
    margin-top: -10px;
  }

  #input {
    margin-left: 4%;
    display: grid;
    font-family: 'HandelGo';
  }

  #download {
    margin-left: 25%;
  }

}